@* harbor Template File *@

@()


@main("Harbor") {
<div id="lake">
    <div id = "upperside">

    </div>
    <div class = "lowerside">
        <div class="column left"></div>
        <div class="column leftstuff" style="z-index: 0; position: relative;">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
        </div>
        <div class="column pier">
        </div>
        <div class="column rightstuff">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px; visibility: hidden;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">
            <div style="z-index: 1; position: absolute; transform-origin: 100px -200px;" class = "o">
                <input class = "pedalo change green" type="button" onclick="goOut(this.parentNode);">
            </div>
            <input class = "pedalo change shadow" type="button" onclick="goIn(this.previousElementSibling,this);">

        </div>
        <div class="column right"></div>



<!--            <div style="position: relative; ">-->
<!--                <div>-->
<!--                    A-->
<!--                </div>-->
<!--                <div style="position: absolute;">-->
<!--                    B-->
<!--                </div>-->
<!--            </div>-->



<!--            <div style="position: relative">-->
<!--                <div style="z-index: 1;position: absolute;" >-->
<!--                    <input  id="sdfsd" class = "pedalo change shadow" type="button" onclick="changeColor(this.id);">-->
<!--                </div>-->
<!--                <div id="1"style="z-index: 0;position: absolute;">-->
<!--                    <input id = "1" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--                </div>-->

<!--            </div>-->
<!--            <div style="position: relative;">-->
<!--                <input id = "1" style="z-index: 1;position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--                <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            </div>-->


<!--            <br>-->
<!--            <input id = "2" style="z-index: 1; position: absolute;" class = "pedalo change green pos" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            <br>-->
<!--            <input id = "3" style="z-index: 1; position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            <br>-->
<!--            <input id = "4" style="z-index: 1; position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            <br>-->
<!--            <input id = "5" style="z-index: 1; position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            <br>-->
<!--            <input id = "6" style="z-index: 1; position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);">-->
<!--            <br>-->
<!--            <input id = "6" style="z-index: 1; position: absolute;" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <input  class = "pedalo change shadow" type="button" onclick="changeColor(this.previousElementSibling.id);"></div>-->
<!--        <div class = "column pier">-->
<!--        </div>-->
<!--        <div class = "column right">-->
<!--            <input id = "5"  class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <br>-->
<!--            <input id = "6" class = "pedalo change green" type="button" onclick="changeColor(this.id);">-->
<!--            <br>-->
<!--        </div>-->
<!--    </div>-->

    </div>
</div>
<div id="beach">

</div>

}